service: aws-serverles-crud

frameworkVersion: ">=1.0.0 <2.0.0"

plugins:
  - serverless-dynamodb-local # for developers
  - serverless-latest-layer-version # for developers
  - serverless-pseudo-parameters # for developers
  - serverless-offline # for developers

custom:
  dynamodb:
    stages:
      - dev
    start:
      port: 8000
      migrate: true
      inMemory: true
      onStart: true
  serverless-offline:
    httpPort: 9090

package:
  exclude:
    - "**/node_modules/**"  # all node_modules folder
    - "**/*.test.*"  # all test files
    - ".dynamodb/**"
    - ".serverless/**"
  include:
    - src/module/actor/createActor.js
    - src/module/actor/deleteActor.js
    - src/module/actor/getActor.js
    - src/module/actor/getMultiActor.js
    - src/module/actor/updateActor.js
    - src/module/actor/scanActor.js

provider:
  name: aws
  runtime: nodejs12.x # node package version
  stage: ${opt:stage, 'dev'} # default invironment set to (dev = "development stage")
  region: ${opt:region, 'us-east-1'} # region where it will be deploy
  deploymentBucket:
    name: deploy.${self:provider.region}.nipahut.club # S3 bucket name
  environment:
    DEPLOYMENT_STAGE: ${self:provider.stage} # staging environment dev, test or prod
    WORKFLOW_ACTOR_TABLE: workflow_actor-${self:provider.stage} # actors table service
    AUTH0_DOMAIN: hzp41c93 # auth0 domain
    NODE_PATH: './:/opt/node_modules'

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - arn:aws:dynamodb:${self:provider.region}:#{AWS::AccountId}:table/${self:provider.environment.WORKFLOW_ACTOR_TABLE}
    - Effect: Allow
      Action:
        - lambda:InvokeFunction
      Resource:
        - arn:aws:lambda:${self:provider.region}:#{AWS::AccountId}:function:${self:service}-${self:provider.stage}-*

resources:
  Resources:
    WorkflowActor: # workflow actors table
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.WORKFLOW_ACTOR_TABLE}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    GatewayResponseDefault4XX:
      Type: 'AWS::ApiGateway::GatewayResponse'
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: DEFAULT_4XX
        RestApiId:
          Ref: 'ApiGatewayRestApi'

functions:
# CRUD for Workflow Actor 
# Create, Read, Update, Scan and Delete function
  createActor:
    description: create actor
    handler: src/module/actor/createActor.handler
    layers:
      - arn:aws:lambda:${self:provider.region}:#{AWS::AccountId}:layer:aws-serverles-layers-module-${self:provider.stage}:latest
    events:
      - http:
          path: /create
          method: post
          authorizer: 
            name: auth0
          cors:
            origin: '*' # <-- Specify allowed origin
            headers: # <-- Specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: false

  getActor:
    description: get actor
    handler: src/module/actor/getActor.handler
    layers:
      - arn:aws:lambda:${self:provider.region}:#{AWS::AccountId}:layer:aws-serverles-layers-module-${self:provider.stage}:latest
    events:
      - http:
          path: /get
          method: post
          authorizer: 
            name: auth0
          cors:
            origin: '*' # <-- Specify allowed origin
            headers: # <-- Specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: false
  updateActor:
    description: update actor
    handler: src/module/actor/updateActor.handler
    layers:
      - arn:aws:lambda:${self:provider.region}:#{AWS::AccountId}:layer:aws-serverles-layers-module-${self:provider.stage}:latest
    events:
      - http:
          path: /update
          method: post
          authorizer: 
            name: auth0
          cors:
            origin: '*' # <-- Specify allowed origin
            headers: # <-- Specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: false

  deleteActor:
    description: delete actor
    handler: src/module/actor/deleteActor.handler
    layers:
      - arn:aws:lambda:${self:provider.region}:#{AWS::AccountId}:layer:aws-serverles-layers-module-${self:provider.stage}:latest
    events:
      - http:
          path: /delete
          method: post
          authorizer: 
            name: auth0
          cors:
            origin: '*' # <-- Specify allowed origin
            headers: # <-- Specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: false

  getMultiActor:
    description: get one or multiple actors
    handler: src/module/actor/getMultiActor.handler
    layers:
      - arn:aws:lambda:${self:provider.region}:#{AWS::AccountId}:layer:aws-serverles-layers-module-${self:provider.stage}:latest
    events:
      - http:
          path: /getMultiple
          method: post
          authorizer: 
            name: auth0
          cors:
            origin: '*' # <-- Specify allowed origin
            headers: # <-- Specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: false

  scanActor:
    description: scan table and filter source
    handler: src/module/actor/scanActor.handler
    layers:
      - arn:aws:lambda:${self:provider.region}:#{AWS::AccountId}:layer:aws-serverles-layers-module-${self:provider.stage}:latest
    events:
      - http:
          path: /scan
          method: post
          authorizer: 
            name: auth0
          cors:
            origin: '*' # <-- Specify allowed origin
            headers: # <-- Specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: false

  auth0:
    description: user authorization
    handler: src/module/auth0/auth.handler
    layers:
      - arn:aws:lambda:${self:provider.region}:#{AWS::AccountId}:layer:aws-serverles-layers-module-${self:provider.stage}:latest